#keune-page {
  .slider {
    img {
      padding-left : 0;
      padding-right: 0;
      margin-top   : 0;
      margin-bottom: 20px !important;
    }
  }

  .top-20 {
    margin-top: 20px !important;
  }

  h1,
  h1,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    font-family: "Futura PT",sans-serif;
    color      : #0d326e;
  }

  .row-3,
  .row-4 {
    .headline-logo {
      border-bottom: 1px solid #0d326e;
      text-align   : center;
      margin-bottom: 70px;
      margin-left  : 45px;
      maring-top   : -60px;
      margin-right : 45px;
      box-sizing   : border-box;
    }

    .collection-logo {
      width   : 300px;
      position: relative;
      border  : 10px solid white;
      bottom  : -58px;
    }

    .subtitle-1,
    .title-1 {
      margin     : 0;
      font-weight: bold;
      font-family: 'Euclid Flex';
    }

    .title-1 {
      font-size  : 48px;
      line-height: 1.1;
    }

    .subtitle-1 {
      font-size  : 28px;
      line-height: 1.1;
    }
  }

  #row-5,
  .row-1,
  .row-2,
  .row-3,
  .row-4 {
    display: block;
    clear  : both;
    margin : 0;
    padding: 0;

    .headline {
      border-bottom: 1px solid #0d326e;
      text-align   : center;
      margin       : 0 45px;
      box-sizing   : border-box;

      h2 {
        display         : inline-block;
        background-color: white;
        margin          : 0;
        font-weight     : bold;
        font-style      : normal;
        padding         : 25px;
        font-size       : 50px;
        color           : #0d326e;
        position        : relative;
        bottom          : -55px;
      }
    }

    span {
      font-weight: 300;
      font-size  : 22px;
      display    : block;
    }

    p {
      font-weight   : 200;
      font-size     : 18px;
      letter-spacing: 0.3px;
      line-height   : 1.5;
      margin        : 1.2em 0;
    }
  }

  .row-1 {
    .subtitle-1,
    .title-1 {
      margin     : 0;
      font-weight: bold;
      font-family: 'Euclid Flex';
    }

    .title-1 {
      font-size  : 48px;
      line-height: 1.1;
    }

    .subtitle-1 {
      font-size  : 28px;
      line-height: 1.1;
    }
  }

  .row-2 {
    .product-image {
      display   : inline-block;
      position  : relative;
      margin-top: 70px;
    }
  }

  .row-3 {
    .product-3 {
      display   : inline-block;
      position  : relative;
      margin-top: 50px;
      width     : 100%;

      .height-300 {
        max-height: 300px;
      }

      h3,
      p {
        text-align: center;
      }
    }
  }

  #row-5 {
    .history-keune {
      text-align    : center;
      padding-bottom: 100px;
    }

    .history-bg-keune {
      background-image: url("https://1922.keune.com/images/history/Keune-Man-bg.jpg");
      text-align      : center;
      padding         : 100px;
      margin-bottom   : 0;
      background-size : cover;
    }

    .bottom_video {
      box-sizing: inherit;
    }

    .YTPlayer {
      border : 15px solid white;
      outline: 2px solid #0d326e;
      width  : 720px;
    }

    .videoWrapper {
      position      : relative;
      padding-bottom: 44.25%;
      /* 16:9 */
      padding-top   : 25px;
      height        : 0;
    }
  }
  @media only screen and (max-width: 525px) {
    .row-2,
    .row-3,
    .row-4 {
      .headline {
        border-bottom: 1px solid #0d326e;
        text-align   : center;
        margin       : -30px 45px 68px;
        box-sizing   : border-box;
      }

      .collection-logo {
        width   : 155px;
        position: relative;
        border  : 10px solid white;
        bottom  : -32px;
      }
    }

    #row-5 {
      .videoWrapper iframe {
        position: absolute;
        top     : 12px;
        left    : 6px;
        width   : 97%;
        height  : 196px;
      }

      .history-bg-keune {
        padding: 0 !important;
      }
    }

    #row-5,
    .row-1,
    .row-2,
    .row-3,
    .row-4 {
      display: block;
      clear  : both;
      margin : 0;
      padding: 0;

      .headline {
        border-bottom: 1px solid #0d326e;
        text-align   : center;
        margin       : 0 25px;
        box-sizing   : border-box;

        h2 {
          display         : inline-block;
          background-color: fff;
          margin          : 0;
          font-weight     : bold;
          font-style      : normal;
          padding         : 5px;
          font-size       : 25px;
          bottom          : -15px;
          position        : relative;
        }
      }

      span {
        font-weight: 300;
        font-size  : 22px;
        display    : block;
      }

      p {
        font-weight   : 200;
        font-size     : 18px;
        letter-spacing: 0.3px;
        line-height   : 1.5;
        margin        : 1.2em 0;
      }
    }
  }
}