.content-main{

  // cusotm
  hr.style-two {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  #slider{
    padding-left: 0px;
    padding-right: 0px;

    .col-md-12{
    padding-right: 0px;
    padding-left: 0px;
    }

    img{
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  #benefit {
      #custom1>.fa {
      font-size: 95px;
      padding: 20px 10px;
      display: block;
      text-align: center;
      color: #000;
      margin: 14px 0px;
   }

   #custom1 p{
     text-align: center;
   }

  }

  #product{
    .col-md-12  p {
      text-align: justify;
      color: #fff;
      padding: 10px 10px;
      background-color: #5CB85C;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.45);
      -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.45);
      box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.45);
    }

    .custom2 p {
      text-align: center;
      color: #000 !important;
      background-color: #fff;

    }
  }

}

BEST OF - TOP 20 de sezon în ofertă!

Top 20 produse

Summer beauty - TOP 20 în ofertă


Glemis BEST OF - TOP 20 de sezon!

{name}, descopera top 20 cele mai vandute produse!
