$font-main: Roboto, sans-serif;
$main-color: #64ba49;
$bg-padding: 60px 0;
$bg-padding-mob: 30px 0 !important;
$h2-font-size: 42px;
$all-with: 80%;
$margin-all: 0 auto 0.7em;
$second-color: #7c8188; // @mixin All Start //
@mixin one {
  width : $all-with;
  margin: $margin-all;
}
// h2 mixin 
@mixin two {
  font-size     : $h2-font-size;
  line-height   : 120%;
  font-weight   : 300;
  text-align    : center;
  text-transform: uppercase;
  width         : $all-with;
  margin        : $margin-all;
}
@mixin border-radius($radius) {
  border-radius        : $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius   : $radius;
}
// @mixin All end //
@media (min-width: 320px) and (max-width: 576px) {
  h1,
  h2,
  h3 {
    color      : #7c8188;
    font-family: $font-main;
    font-size  : 25px !important;
  }

  #row-4 {
    h2 {
      margin-top: -65px !important;
    }
  }

  #row-3 {
    .questions-remary {
      h5 {
        font-weight  : 400;
        font-size    : 19px;
        text-align   : center !important;
        margin-bottom: 1.2em !important;
        line-height  : 1.5em !important;
      }

      .h-title-green-2 {
        text-align: center !important;
      }
    }
  }

  .backgorund-1,
  .backgorund-2,
  .backgorund-3,
  .backgorund-4,
  .backgorund-5 {
    padding: $bg-padding-mob;
  }

  .backgorund-5 {
    height:: 700px !important;
  }

  #row-1 {
    .checklist-box {
      h3 {
        font-size: 25px !important;
      }

      .h-title-bg-1 {
        width: 95% !important;
      }
    }
  }
}

#frontend-remary {
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    color      : #7c8188;
    font-family: $font-main;
  }

  p {
    color      : #7c8188;
    font-family: $font-main;
  }

  #slider {
    width: 100%;

    .carousel {
      background: $main-color;
      margin    : 0;
    }

    .carousel .item {
      min-height: 600px;
      /* Prevent carousel from being distorted if for some reason image doesn't load */
    }

    .carousel .item img {
      margin: 0 auto;
      /* Align slide image horizontally center */
    }

    .slider-full {
      margin: 0;
    }
  }

  .backgorund-1 {
    background: url("https://www.sensilab.ro/media/wysiwyg/SLOVENIA/slimjoy/slimjoy-bg.jpg") center center;
    padding   : $bg-padding;
  }

  .backgorund-2 {
    background: $main-color;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8fce42, #56ab2f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8fce42, #56ab2f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding   : $bg-padding;
  }

  .backgorund-3 {
    background: url("https://www.glemis.ro/image/catalog/remary-frontstore/bj-papper-3.jpg") center center;
    padding   : $bg-padding;
  }

  .backgorund-4 {
    background: #fff;
    padding   : $bg-padding;
  }

  .backgorund-5 {
    background-image     : url("https://www.glemis.ro/image/catalog/remary-frontstore/grass-bg-2.jpg");
    padding              : $bg-padding;
    height               : 500px;
    background-attachment: fixed;
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : cover;
  }

  #row-1 {
    h2 {
      @include two;
      margin: 25px auto 0.7em !important;
      color : $second-color;
    }

    .block-benefit {
      @include one;

      h4 {
        color        : #fff;
        font-size    : 35px;
        line-height  : 120%;
        font-weight  : 700;
        margin-bottom: 0.1em;
      }

      p {
        color        : #fff;
        font-size    : 25px;
        line-height  : 120%;
        font-weight  : 300;
        text-align   : center;
        margin-bottom: 0.8em;
      }

      .backgound-3-box {
        background-color: $main-color;
        box-sizing      : border-box;
        padding         : 35px 15px 25px;
        text-align      : center;
        margin-bottom   : 40px;
      }
    }

    .checklist-box {
      width : $all-with;
      margin: 40px auto 2.7em;
      border: 1px solid #ccc;

      h3 {
        text-align    : center;
        font-size     : 40px;
        line-height   : 120%;
        font-weight   : normal;
        text-transform: uppercase;
        margin        : $margin-all;
      }

      .h-title-bg-1 {
        margin-top      : -33px;
        background-color: #fff;
        width           : 55%;
        border          : 1px solid #ccc;
        padding         : 10px;
        box-sizing      : border-box;
      }

      .h-title-green {
        color    : $main-color;
        font-size: 30px;
      }

      .h-title-grey {
        color    : #7c8188;
        font-size: 20px;
      }

      .checklist ul {
        list-style: none;
        margin    : 0 auto 40px;
        padding   : 0;
        width     : $all-with;
      }

      .checklist li {
        margin     : 0;
        padding    : 6px 0 6px 40px;
        background : url("https://www.sensilab.ro/media/wysiwyg/SLOVENIA/slimjoy/slimjoy-li.png") center left no-repeat;
        min-height : 21px;
        font-size  : 20px;
        color      : #7c8188;
        line-height: 120%;
      }
    }
  }

  #row-2 {
    h2 {
      @include two;
      color: #fff;
    }

    .subtitul-1 {
      color      : #fff;
      font-size  : 22px;
      line-height: 120%;
      font-weight: 200;
      text-align : center;
      width      : $all-with;
      margin     : $margin-all;
    }

    .customer-choice-box {
      width   : $all-with;
      margin  : 40px auto 0.7em;
      position: relative;
      display : block;
      clear   : both;
    }

    .front-end-gallery {
      width : $all-with;
      margin: $margin-all;

      img {
        width: 100%;
      }

      .boottom20 {
        margin-bottom: 30px;
      }
    }

    .paragraph-bg-1 {
      color     : #000;
      text-align: justify;
      background: #fff;
      padding   : 20px;
      margin-top: 30px;
    }
  }

  #row-3 {
    h2 {
      @include two;
      color: $main-color;
    }

    .subtitul-2 {
      color      : #000;
      font-size  : 22px;
      line-height: 120%;
      font-weight: 600;
      text-align : center;
      width      : $all-with;
      margin     : -20px auto 0.7em;
    }

    .subtitul-2:after {
      content         : "";
      display         : block;
      width           : 150px;
      height          : 1px;
      margin          : 0 auto;
      background-color: rgba(0, 0, 0, 0.85);
      margin-top      : 25px;
    }

    .questions-remary {
      width   : $all-with;
      margin  : 40px auto 0.7em;
      position: relative;
      display : block;
      clear   : both;

      h5 {
        font-weight  : 400;
        font-size    : 19px;
        text-align   : left;
        margin-bottom: 1.5em;
      }

      .h-title-green-2 {
        color    : $main-color;
        font-size: 30px;
      }
    }

    .brand-guarantee {
      width   : $all-with;
      margin  : 10px auto 0.7em;
      position: relative;
      display : block;
      clear   : both;

      h4 {
        text-align: center;
      }
    }
  }

  #row-4 {
    h2 {
      color: $main-color;
      @include two;
    }

    .subtitul-2 {
      color      : #000;
      font-size  : 22px;
      line-height: 120%;
      font-weight: 300;
      text-align : center;
      width      : $all-with;
      margin     : -20px auto 0.7em;
    }

    .subtitul-2:after {
      content         : "";
      display         : block;
      width           : 150px;
      height          : 1px;
      margin          : 0 auto;
      background-color: rgba(0, 0, 0, 0.85);
      margin-top      : 25px;
    }

    .business-lab {
      width   : $all-with;
      margin  : 10px auto 0.7em;
      position: relative;
      display : block;
      clear   : both;

      img {
        display: block;
        margin : 0 auto 15px;
      }

      p {
        line-height  : 1.3;
        text-align   : center;
        font-weight  : 300;
        margin-bottom: 1em;
      }
    }
  }

  #row-5 {
    h2 {
      color: $second-color;
      @include two;
    }

    .subtitul-2 {
      color      : $second-color;
      font-size  : 22px;
      line-height: 120%;
      font-weight: 200;
      text-align : center;
      width      : $all-with;
      margin     : $margin-all;
    }

    .subtitul-2:after {
      content         : "";
      display         : block;
      width           : 150px;
      height          : 1px;
      margin          : 0 auto;
      background-color: rgba(0, 0, 0, 0.85);
      margin-top      : 25px;
    }
  }
}