// Css efects Start
$green: #5fa349;
$paragraf-size:16px;
$h2-white:#fff;

#row-1{
  h1{text-align: center; padding: 10px 0px 10px;}
  p{
    font-size: $paragraf-size;
    line-height: 26px;
    text-align: justify;
    font-weight: 400;
    padding: 20px 20px;
    margin:0px 20px;
    box-sizing: border-box;
    border: 1px solid #3F4C6B;
  }
}

.clearfix{
  clear:both;
}

// row2 start //
#row2{
  padding: 20px 20px;
  .list-star{
    padding-left: 20px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  .list-star ul{
    margin-top: 0;
    margin-bottom: 10px;
  }

  .list-star li::before{
    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #FF0000;
    font-size: 18px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;
  }

}

// row 2 end //
// css efect end

// Row 3
#row3{
  .garant-badge {
    border: 2px solid $green;
    padding: 10px 10px;
    min-height: auto;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
      h4 {
      color: $green;
      font-weight: 700;
      font-size: 26px !important;
      text-transform: uppercase;
      }
      img {
        margin-top: 7px;
      }
  }
}

//  Row 4
#row4{
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  font-weight: 400;
  background-color: $green;
  display: inline-block;
  padding: 0px 0px 10px 0px;
    h2{
      text-align: center;
      color: $h2-white;
    }
   h4 {
    font-size: 22px !important;
    font-weight: 400;
    line-height: 115%;
    margin: .3em 0;
    color: #000;
   }
    p{
      color: #000;
    }
    a:hover{
      color:#64ba49;
      text-decoration: none;
    }
    a:active{
        text-decoration: none;
    }
}

// row 6
#row6{
  padding: 20px 0px;
  background-color: #fff;
  h2{
    text-align: center;
    margin:5px 0px 20px 0;
  }
    .galery-desc-box {
        position: relative;
    }

    .galery-desc-box a {
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #000;
        margin-bottom: 11px;
    }

    .galery-desc-box a img {
        width: 100%;
        filter: alpha(opacity=80);
        opacity: 0.8;
        -moz-opacity: 0.8;
        transition: all .5s;
        -ms-transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        background: #f0f0f0;
    }

    .galery-desc {
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        top: 45%;
        font-size: 21px;
        color: #FFF;
        text-transform: uppercase;
    }

    .zoom {
       transition: transform .2s;
       margin: 0 auto;
   }

   .zoom:hover {
       -ms-transform: scale(1.2); /* IE 9 */
       -webkit-transform: scale(1.2); /* Safari 3-8 */
       transform: scale(1.2);
   }
}

#row7{
  h2{
    text-align: center;
  }
  #quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 0px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
}


// Slider + header
.menu-info {
  display: block;
  position: relative;
  clear: both;
  background-color: #b3c2bf;
}

.menu-info.stick {
  top: 0;
  position: relative;
  left: 0;
  right: 0;
  z-index: 90000;
}

.menuinfo {
  padding: 0;
  margin: 0 -15px;
  background: none;
  list-style: none;
}

.menuinfo>li {
  color: #e9ece5;
  position: relative;
  white-space: nowrap;
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}

.menuinfo>li>a {
  color: #3b3a36;
  font-size: 20px;
  line-height: 21px;
  padding: 10px 15px;
  display: inline-block;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}

.menuinfo>li:hover {
  background: rgba(0, 0, 0, .1);
  color: #FFFFFF;
}

.menuinfo>li.active {
  background: rgba(0, 0, 0, .1);
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 4px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  top: 8px;
  width: 300px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}



// Media Query Bootstrap Start //

@media (max-width: 640px) {
  #row-1 .fancy {
    line-height: 1;
    font-size: 2em;
    text-align: center;
  }
  .menuinfo {
    margin: 0 -10px;
    text-align: center;
  }
  .menuinfo>li>a {
    font-size: 12px;
  }
  .menu-info.stick {
    top: 0px;
  }
}

@media (max-width: 480px) {
  #row-1 .fancy {
    line-height: 1;
    font-size: 2em;
    text-align: center;
  }
  .menuinfo>li {
    margin: 0;
    text-align: center;
  }
  .menuinfo>li>a {
    padding: 10px;
  }
  .menu-info.stick {
    top: 0px;
  }
}

// Media Query Bootstrap End //
